<li class="translation">
  <div class="translation-content content row">
    <div class="clearfix tweet">
      <div class="avatar span2"></div>
      <div class="span10">
        <p class="source">
          <%= simple_format auto_link(translation.source, {url_target: '_blank'}), class: 'source' %>
        </p>
        <% if translation.content.present? %>
        <%= simple_format auto_link(translation.content, {url_target: '_blank'}), class: 'translation' %>
        <% end %>
      </div>
    </div>
    <ul class="options">
      <% if translation.status == 'processing' %>
      <li class="status"><i class="fui-user"></i> Translation in progress...</li>
      <li class="action pull-right cancel"><a href="#"><i class="fui-cross"></i> Do not publish</a></li>
      <% elsif translation.status == 'published' %>
      <li class="status"><i class="fui-check"></i> Published <%= time_ago_in_words(translation.published_at) %></li>
      <li class="action translation-link pull-right"><a href="#"><i class="fui-user"></i> <%= translation.language.capitalize %> translation</a></li>
      <li class="action source-link pull-right"><a href="#">Original tweet</a></li>
      <% end %>
    </ul>
  </div>
  <ul class="mentions">
    <%= render partial: 'mentions/mention', collection: translation.mentions %>
  </ul>
</li>
